NODE_PORT=6707

GMAIL_SENDER=whosending@gmail.com

RECIPIENT=RECIPIENT@gmail.com

APP_PASS=cern crud faux appl

MAILTRAP_SENDER=hello@demo.mailtrap.com

MAILTRAP_TOKEN=oad97hgd027ghdw0dh1817h1s181h078g0s867f1sw6

MAILTRAP_USE_SANDBOX=false

WEBSITES=https://stringofvalidwebsites.com,http://separatedbycommas.com,

RATE=67